* {
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  list-style-type: none;
  background-color: black;
  color: aliceblue;
}
li:hover {
  background-color: grey;
  cursor: pointer;
}
a {
  color: aliceblue;
}
